body main {
    height: 40vh;
    width: 80vw;
    flex-direction: row-reverse;
}

/* image styles */

main .image-container {
    height: 100%;
    width: 100%;
}

main .image-container span {
    border-top-left-radius: 0rem;
    border-bottom-right-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
}

/* text styles */

.text-container {
    align-items: flex-start;
    padding: 6rem;
    height: 100%;
    gap: 2rem;
}

.text-container .title {
    font-size: 4rem;
    text-align: left;
}

.text-container .main-paragraph {
    text-align: left;
    font-size: 1.6rem;
    line-height: 3rem;
}

/* stats styles */

.stats-section {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}